.box{
     border: 2px solid black;
     width: 200px;
     height: 300px;
     border-radius: 20px;
     border-width: 30px;
     border-color: orange;
     border-left: none;
     border-right: none;
     text-align: center;
     display: inline-block;
     margin: 20px;
     /* box-shadow:10px 10px 5px  gray ; */
     /* box-shadow: inset 10px 10px 5px 20px gray; */
    }

    /* pseudo code */
    .box2:hover{
        background-color: rgb(231, 174, 184);
        color: white;
    }
#box1_title{
    color: orange;
}
.fa-globe{
    margin-top: 20px;
    color: orange;
}
.box2{
    border-color: pink;
}
.fa-rocket{
    margin-top: 20px;
    color: pink;
}
#box2_title{
    color: pink;
}
.box3{
    border-color: blue;
}
#box3_title{
    color: blue;
}
.fa-mobile{
    margin-top: 20px;
    color: blue;
}
.box4{
    border-color: skyblue;
}
#box4_title{
    color: skyblue;
}
.fa-suitcase{
    margin-top: 20px;
    color: skyblue;
}

#container{
    border: 5px solid black;
    width: 1000px;
    margin: 70px auto;
    /* border-top-left-radius: 50px; */
    /* border-bottom-right-radius: 50px; */
    /* border-radius: 1em 4em 3em 4em / 2em 1em 4em 2em; */
    border-radius:30px 0px 40px 10px ;
    box-shadow: inset 10px 10px 5px  gray;;

}
ul{
    /* list-style-type: square;
    list-style-position: outside; */

    /* short hand */
    /* list-style: disk inside; */
    list-style: disc outside;
}